// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.crd{
    transform: scale(.8);
    background: url('../img/card-deck.svg');
    height: 215.64px;
    width: 152.06px;
    display: block;
    margin: 5px;
    border-radius: 7px;
    .suit-0{
        background-position-y: 58.239px;
    }
    .nominal-0{
        background-position-x: 98.148px;
    }
}
